.App{
  margin: 0;
  padding: 0;
box-sizing: border-box;
}
.header{
  display: flex;
  justify-content: space-between;
  background-color: #eee;

}
.logo{
  width: 150px;
  height: 100px;

}
.nav-items ul{
  font-size: 24px;
  list-style: none;
  display: flex;
  padding: 0px 20px;



}
.nav-items ul li{
  padding: 10px;
  margin: 10px;
 list-style: none;
}
.nav-items ul li a{
  text-decoration: none;
  color: inherit;
}
.signup-btn{
  padding: 10px;
  width: 100px;
}

.res-container{
  
 display: flex;
 flex-wrap: wrap;
 gap: 10px;
}
.res-cards{
  padding: 5px;
  width:190px;
  height:450px;
  margin-top: 5px;
 background-color: #f0f0f0;

}
.res-cards h4{
  flex-wrap: wrap;
}
.res-cards:hover{
  border:1px solid #b9b9b9;
  cursor: pointer;
}
.seacrh{
  padding: 10px;
}
.res-logo{
  width: 100%;
  
}
.filter-btn{
  margin: 10px;
  cursor: pointer;
}
.shimmer-container{
  display: flex;
  flex-wrap: wrap;
}
.shimmer-card{
 margin: 20px;
  width: 200px;
  height: 400px;
  background-color: #f0f0f0;
}
.filter{
  display: flex;
  gap:12px

}
.filter button{
  cursor: pointer;
  background-color: #eee;
  border: none;
  color: #000;
  gap:12px
}

.search-box{
  padding: 12px;
}
.search-btn{
  padding: 12px;
}
.menu{
  text-align: center;
}
